body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #700c63;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}

.name-logo {
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-transform:  uppercase;
}

.btn-info {
  background-color: #700c63;
    border-color: #700c63;
}

.btn-info:hover {
  background-color: #c208a9;
    border-color: #c208a9;
}

.btn-outline-info {
  color: #700c63;
  border-color: #700c63;
}

.btn-outline-info:hover {
  background-color: #700c63;
  border-color: #700c63;
}

.bg-info {
  background-color: #700c63!important;
}

i {
  color: #700c63;
}